
.admin-container {
    box-shadow: 1px 1px 3px #000000b6;
    border: 1px solid #0099bb;
    border-radius: 10px;
    height: 60vh;
    width: 75%;
    margin: 30px 0 30px 30px;
    padding: 20px 40px 0 40px;
}